.input {
  position: relative;
  display: flex;
  flex: 1;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #a2a2a2;
  color: #fff;
  min-width: 300px;

  .top {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    flex: 1;
    margin: 0px;
    width: 100%;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(241, 241, 241);
    transition: all 0.05s ease;
    transform: translateY(-8px);

    &:focus {
      outline: none;
    }

    &:disabled {
      cursor: not-allowed;
    }

    &:not([disabled]) {
      &:hover {
        cursor: pointer;
        transform: translateY(-6px);
      }

      &:active {
        transform: translateY(-1px);
      }
    }
  }
}
