.input {
  position: relative;
  display: flex;
  width: 500px;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background-color: #4a4a4a;
  color: #fff;

  .top {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    flex: 1;
    margin: 0px;
    width: 100%;
    font-size: 16px;
    padding: 15px 20px;
    border-radius: 5px;
    border: none;
    background-color: rgb(209, 209, 209);
    transition: all 0.05s ease;
    transform: translateY(-8px);

    &:focus {
      outline: none;
    }
  }

  &:hover .top {
    cursor: pointer;
    transform: translateY(-6px);
  }

  &:active .top {
    transform: translateY(-5px);
  }
}
