
.tutorialBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.imageContainer{
  width: 50%;
  img{
    width: 80%;
    height: 70%;
  }
}

.descriptionContainer{
  width: 50%;
h3{
    font-size: 30px;
}
  
}

