
.tutorialBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  
}

.imageContainer{
  margin: 10px;
  width: 50%;
  border-color: black;
  border-style: solid;
  border-width: 1px;

  img{
    width: 80%;
    height: 80%;
  }
}

.descriptionContainer{
  margin: 10px;
  width: 50%;

h3{
    margin: 10px;
    font-size: 30px;
}
  p{
    margin: 10px;
  }
  
}

