.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

body::-webkit-scrollbar {
  width: 0;
}
body {
  overflow-y: scroll;
  padding-right: 17px; /* Add a 17px padding to compensate for the hidden scrollbar */
}
.content {

  outline: none;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
    
}

