.container {
  width: 300px;
  height: 360px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  padding: 5px 30px;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.thumbnail {
  width: 300px;
  height: 168.75px;
}

.date {
  font-size: 14px;
}

.view {
  display: flex;
  justify-content: end;
}
