.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  //keep the footer at the bottom of the page
  margin-top: auto;
}

.footerText {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  padding-bottom: 5px;
}
